.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
  font-family: "Lobster", cursive;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.newbutton {
  display: block;
  margin: 20px auto;
  margin-top: 50px;
  background-color: #646074;
  border: none;
  color: #4ecca3;
  font-size: 1.5em;
  padding: 10px 20px;
  font-family: "Lobster", cursive;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #404452;
  cursor: pointer;
}
.newbutton:active {
  /* background-color: #646074; */
  /* box-shadow: 0 5px #666; */
  transform: translateY(5px);
}

.endGameText {
  font-size: 5em;
}
.smallerendGameText {
  font-size: 4em;
}
